[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
keras = "==2.2.4"
ncc = {editable = true,git = "https://github.com/aiorhiroki/ncc"}
opencv-python = "*"
requests = "*"
pandas = "*"
flask = "*"
tqdm = "*"
segmentation-models = "==0.2.0"
albumentations = "==0.2.0"
python-dotenv = "*"
sklearn = "*"
dataclasses = "*"

[requires]
python_version = "3.6"
